@page "/Add"


@using Order.Management.WebApp.Data
@inject ISupplierService SupplierService

@inject NavigationManager NavigationManager

<h2>Add Supplier</h2>
<hr />

<EditForm Model="@obj" OnValidSubmit="@CreateSupplier">
     <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label" required>Name</label>
                <input form="Name" class="form-control" @bind="@obj.Name" />
            </div>
         
            <div class="form-group">
                <label for="Designation" class="control-label">Address Line 1</label>
                <input form="Designation" class="form-control" @bind="@obj.AddressLine1" />
            </div>
             <div class="form-group">
                <label for="Designation" class="control-label">Address Line 2</label>
                <input form="Designation" class="form-control" @bind="@obj.AddressLine" />
            </div>
            <div class="form-group">
                <label for="City" class="control-label">City</label>
                <input form="City" class="form-control" @bind="@obj.City" />
            </div>
             <div class="form-group">
                <label for="City" class="control-label">State</label>
                <input form="City" class="form-control" @bind="@obj.StateId" />
            </div>
            <div class="form-group">
                <label for="City" class="control-label">Postal Code</label>
                <input form="City" class="form-control" @bind="@obj.PostalCode" />
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateSupplier" value="Save"/>
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel"/>
            </div>
        </div>
    </div>
</EditForm>

@code {
    Supplier obj = new Supplier();
    protected async void CreateSupplier()
    {
        await SupplierService.InsertSupplierAsync(obj);
        NavigationManager.NavigateTo("/");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
