@page "/Edit/{Id}"


@using Order.Management.WebApp.Data
@inject ISupplierService SupplierService
@inject IStateService StateService
@inject NavigationManager NavigationManager

<h2>Edit Supplier</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input form="Name" class="form-control" @bind="@obj.Supplierid" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <InputText form="Name" class="form-control" @bind="@obj.Name" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Address Line 1</label>
                <input form="Name" class="form-control" @bind="@obj.AddressLine1" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Address Line 1</label>
                <input form="Name" class="form-control" @bind="@obj.AddressLine" />
            </div>
             <div class="form-group">
                <label for="Name" class="control-label">City</label>
                <input form="Name" class="form-control" @bind="@obj.City" />
            </div>
             <div class="form-group">
                <label for="Name" class="control-label">State</label>
                 <select class="form-control" @bind="@obj.StateId">  
                <option value="">Select State</option>  
                @foreach (var state in stateList)  
                {  
                    <option value="@state.Id">@state.Name</option>  
                }  
            </select>  
            </div>
             <div class="form-group">
                <label for="Name" class="control-label">Postal Code</label>
                <input form="Name" class="form-control" @bind="@obj.PostalCode" />
            </div>
           
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateSupplier" value="Update" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string Id { get; set; }
    Supplier obj = new Supplier();
     List<State> stateList = new List<State>();
    protected override async Task OnInitializedAsync()
    {
          
        obj = await Task.Run(() => SupplierService.GetSupplierAsync(Convert.ToInt32(Id)));
        stateList = await StateService.GetAllStatesAsync();
    }
    protected async void UpdateSupplier()
    {
        await SupplierService.UpdateSupplierAsync(obj);
        NavigationManager.NavigateTo("/");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}